/*Navigation Bar*/
.nav {

    display: flex;

    flex-direction: row;

    justify-content: space-between;

    background-color:white;
    background-size: cover;

    /* border: 1px solid black; */

}

.links {
    display: flex;
    flex-direction: row;    
}
.logo{
    margin-right: 40px;
    width: 100px;
    background-image:url(../../logos/logo_transparent.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}