/* .nav:hover .nav_option{
    font-size: 2em;
} */

.nav_option {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 1.5em;
    text-transform: uppercase;
    height: 22px;
    text-decoration: None;
    transition: color 0.5s;
    transition: font-size 0.5s;
    color: black;
}

.nav_option:hover {
    background-color:  #777777;
    color:white;
}