/*Overal Styles*/
body {
    margin: 0px;

    background-image:url(./images/main_background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


    /* Note this got body to fit on the screen */
    height: 100vh;
    width: 100vw;
    max-height: 100%;
    max-width: 100%;
    
}

.container {
    display: flex;
    flex-flow: column;
    height: 100%;

    
    
}

/*Navigation Bar*/
.nav {
    display: flex;

    justify-content: space-between;

    padding: 38px;

    background-color: white;

    border: 1px solid black;

}

.left {
    display: flex;

}

/* Note this moves down the html tree and gets all divs inside left div */

.nav > .left > div{
    margin-right: 20px;
    font-size: 1em;

    text-transform: uppercase;
}

.nav_link {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;

}

.nav_link a{
    color: #8a8a8a;
    text-decoration: None;
    transition: color 0.5s;
}

.nav_link:hover {
    border-bottom: 1px solid black;
}

.nav_link a:hover {
    color:black;
}

/*Main Body*/

.body_message {
    padding:100px;
    display: flex;
    flex: 1;
    flex-flow: column;
}

.body_center {
    text-align: center;
    color:red;
}
