/*Main Body*/

.body_message {
    /* padding:80px; */
    display: flex;
    flex: 1;
    flex-flow: column;


}

.body_center {
    text-align: center;
    font-weight: bolder;
    font-size: -webkit-xxx-large;
}

.welcome_text{
    color:black;
}


/* Fix padding to be based on screen size*/
.slogan{
    color: red;
    padding: 300px;
}