.unit{
    height: 150px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.stats{
    line-height: 300%;
}
.family{
    line-height: 300%;
}

.image{
    min-width: auto;
    min-height: 100%;
}

.unit:hover{
    background-color:  #777777;
    color:white;
}