/*Navigation Bar*/
.nav {

    display: flex;



    flex-direction: column;

    justify-content: space-between;

    background-color:rgba(0, 0, 0, 0.5);
    background-size: cover;

    /* border: 1px solid black; */

}

.links {
    display: flex;
    flex-direction: column;
    
}

/* Note this moves down the html tree and gets all divs inside left div */


/* .nav:hover .nav_option{
    font-size: 2em;
} */

.nav_option {
    margin-bottom: 40px;
    font-size: 1.5em;
    text-transform: uppercase;
    height: 22px;
    text-decoration: None;
    transition: color 0.5s;
    transition: font-size 0.5s;
    color: #777777;
}

.nav_option:hover {
    color:black;
}