/* .nav:hover .nav_option{
    font-size: 2em;
} */

.nav_option {
    margin-bottom: 40px;
    font-size: 1.5em;
    text-transform: uppercase;
    height: 22px;
    text-decoration: None;
    transition: color 0.5s;
    transition: font-size 0.5s;
    color: #777777;
}

.nav_option:hover {
    color:black;
}